/*Colours For Text*/
body{
  font-family: Arial, Veranda, sans-serif;
  background-color: rgba(200, 200, 200,0.5);

}

h1{
  color: DarkCyan;
  background-color: #ee3e80;
}

h2{
  color: #ee3e80;
  background-color: DarkCyan;
}
p{
  color: rgb(100, 100, 90);

  background-color: white;
}
#fancy{
  font-family: fantasy;
}
